---
import WorksSection from "@/components/sections/WorksSection.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import PageHeader from "@/components/elements/PageHeader.astro";
---

<PageLayout title="Mis Trabajos">
  <section class="site-container m-auto">
    <PageHeader
      title="Trabajos"
      description="Aquí tienes algunos de mis proyectos recientes. ¡Siempre estoy trabajando en algo nuevo, así que vuelve pronto!"
    />

    <WorksSection />
  </section>
</PageLayout>
